<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SendMail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SendMail.Properties.Settings>
            <setting name="FromMail" serializeAs="String">
                <value />
            </setting>
            <setting name="Caption" serializeAs="String">
                <value />
            </setting>
            <setting name="Message" serializeAs="String">
                <value />
            </setting>
            <setting name="smtpServer" serializeAs="String">
                <value />
            </setting>
            <setting name="smtp_port" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="EnableSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SMTP_user" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTP_password" serializeAs="String">
                <value />
            </setting>
            <setting name="Body" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ListHash" serializeAs="String">
                <value />
            </setting>
            <setting name="MailList" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HashList" serializeAs="String">
                <value />
            </setting>
            <setting name="UseHTML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SendFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AfterSend" serializeAs="String">
                <value>0</value>
            </setting>
        </SendMail.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
